@import "theme.css";

.underline {
  text-decoration: underline;
}


table.xxx{
       border-collapse: collapse;
  background-color: lavender ;
  foreground-color: black ;
    text-align: center;
          vertical-align: center;

    padding: 0px;
}

th, td {
  border: 1px solid green;
  background-color: lavender ;
  foreground-color: black ;
    text-align: center;
      vertical-align: center;

    padding: 10px;
}
